
$board-size: 80vmin;
$view-width: 576px; // Previous prototyping size: 576px;
$game-info-padding-horizontal: 2vmin;
$game-info-width: $board-size - 4vmin - 2 * $game-info-padding-horizontal;
$game-info-padding: (2 * $game-info-padding-horizontal) $game-info-padding-horizontal;
$medium-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	background-color: hsl(0, 0, 74%);
	font-family: Futura, Helvetica, arial, sans-serif;
	font-size: 1.5rem;
	margin: 0;
}

#main-bar {
	background-color: hsl(0, 0, 89%);
	box-shadow: $medium-box-shadow;
	height: 3rem;
	width: 100%;
}

#primary-surface {
	background-color: hsl(0, 0, 82%);
	box-shadow: $medium-box-shadow;
	padding: 0 0 1rem 0;
	position: relative;
	top: 0;

	#game {
		box-shadow: $medium-box-shadow;
		// border: 3px dashed black;
		// cursor: none;
		display: block;
		height: $board-size;
		margin: 1em auto;
		width: $board-size;

		// TODO Determine if better approach should be applied to handle
		//      tap-flicker concern on safari mobile
		-webkit-tap-highlight-color: hsla(0, 0, 0, 0);
	}
}

#game-info {
	background-color: hsl(0, 0, 82%);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	margin: 1rem auto;
	padding: $game-info-padding;
	width: $game-info-width;

	.player-info {
		.stone {
			display: none;
			height: 0.8em;
		}

		.player-name {
			display: inline;
		}

		.captured-stones {
			display: inline;
		}
	}

	.current-player .player-name {
		font-weight: bold;
	}
}
