
body {
	background-color: #f9f9f9;
	font-family: Helvetica, arial, sans-serif;
	font-size: 1.5rem;
}

#game {
	// border: 3px dashed black;
	// cursor: none;
	display: block;
	height: 576px;
	margin: 0 auto;
	width: 576px;
}

#game-info {
	margin: auto;
	width: 160px;

	.player-info {
		.stone {
			display: inline;
			height: 0.8em;
		}

		.player-name {
			display: inline;
		}

		.captured-stones {
			display: inline;
		}
	}

	.current-player {
		font-weight: bold;
	}
}
